<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--控制台日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--配置数据源，交给spring来做-->
    <typeAliases>
        <package name="com.liefox.pojo"/>
    </typeAliases>
    <!--扫描dao下的xml文件-->
    <mappers>
        <mapper class="com.liefox.dao.UserDao"/>
    </mappers>

</configuration>